#home-page {
    width: 100%;
    height: 100vh;
}

#nav-bar {
    width: 100%;
    height: 12vh;
    background-color: #004270;
    top: 0;
    position: fixed;
    display: flex;
    align-items: center; 
    z-index: 100;
    /* justify-content:  */
}

#appleby-logo-white {
    width: 6.5vw;
    height: auto;
}
#appleby-logo {
    vertical-align: auto;
}
#login {
    margin-left: 2vw;
}
#login-text {
    color: white;
}
#password-login {
    height: 4vh;
    width: 10vw;
    border-radius: 5px;
    padding: 3px;
    box-sizing: border-box;
}
#main {
    margin-top: 12vh;
}
#login-button {
    color: white;
    font-size: 22px;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
#pop-up-login {

}

#submit-password-button {
    background-color: #0F4179;
    width: 13vw;
    display: flex;
    color: white;
    border: 3px solid #0F4179;
    justify-content: center;
    align-items: center;
    padding: 8px;
    font-size: 19px;
    border-radius: 20px;
    margin: 0px auto;
    margin-top: 3vh;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
#submit-password-button:hover {
    background-color: white;
    color: #0F4179;
}
.itemCard {
    width: 14vw;
    height: 14vw;
    border-radius: 9px;
    background-image: url("./img/shorthair.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 2.8vw;
}

.itemCard:hover .itemCardBackgroundColor{
    opacity: 0.83;
    transition: 0.3s ease;
}
.itemCard:hover .itemCardDetails {
    opacity: 1;
    transition: 0.3s ease;
}

.itemCardDetails {
    border-radius: 9px;
    font-size: 6px + 1.3vh;
    color: white;
    opacity: 0;
}

.itemCardBackgroundColor {
    width: 100%;
    height: 100%;
    background-color: #0F4179;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 9px;
}

.itemCardDetailsText {
    padding: 6px;
    margin-left: 1vw;
}


#add-object-icon {
    color: white;
    font-size: 45px;
    margin-left: 81vw;
}

#allItemCards {
    display: flex;
    /* border: solid;
    border-color: red;
    border-width: 2px; */
    flex-wrap: wrap;
}

#newItemsPage {
    display: flex;
    /* border: solid;
    border-color: green;
    border-width: 2px; */
}

/* Phone only */
@media screen and (max-width: 480px) {
    .itemCardDetails {
       font-size: 10px;
    }

    .itemCardDetailsText {
        padding: 3px;
    }
    .itemCard {
        width: 37vw;
        height: 37vw;
        margin: 6.5vw;
    }

    
}