#home-page {
    width: 100%;
    height: 100vh;
}

#nav-bar {
    width: 100%;
    height: 12vh;
    background-color: #004270;
    top: 0;
    position: fixed;
    z-index: 2;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    /* display: flex;
    flex-direction: row;
    align-items: center; */
}
#nav-bar-admin {
    width: 100%;
    height: 12vh;
    background-color: #004270;
    top: 0;
    position: fixed;
    z-index: 2;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
#appleby-logo-white {
    width: 6.5vw;
    height: auto;
}
.nav-bar-buttons {
    margin-left: 1.5vw;
    float: right;
    display: inline;
    margin-right: 4vw;
}
.claimButton {
    border-style: solid;
    border-color: white;
    border-width: 2.3px;
    color: white;
    display: none;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    width: 80%;
    margin: auto;
}
.claimButton:hover {
    background-color: red;
}
#login {
    /* position: relative; */
    margin-left: 1.5vw;
    float: right;
    display: inline;
    margin-right: 4vw;
    /* margin-top: -6vh; */
    font-family: "Source Sans Pro";
}
#login-button {
    color: white;
    font-size: 22px;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#logout {
    display: inline;
    margin-left: 1.5vw;
    float: right;
    margin-right: 4vw;
    
}
#customAlert {
    display: none;
    position: "absolute";
    top: 0;
    border-style: solid;
    border-color: blue;
    border-width: 3px;
    background-color: red;
    width: 20vw;
    height: 10vh;
}
#logout-button {
    color: white;
    background-color: transparent;
    border-color: transparent;
    font-size: 22px;
    font-family: "Source Sans Pro";
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#pop-up-login {
    display: none;
    float: right;
    margin-left: 1.5vw;
    margin-right: 1vw;
    /* margin-top: -6vh; */

}

#add-object-icon {
    font-size: 45px;
    float: right;
    display: inline;
    margin-top: -1vh;

}
#nav-bar-right {
    position: relative;
    bottom: 6vh;
    border-color: red;
    border-style: solid;
}

#add-object-icon a {
    color: white;
}

#main {
    margin-top: 12vh;
}
#enter-password-box {
    border-color: black;
    border-width: 2px;
    border-radius: 5px;
    padding: 1px;
    width: 10.5vw;
    height: 2.8vh;
}
#enter-password-button {
    background-color: #004270;
    height: 3.2vh;
    width: 4.3vw;
    font-size: 13px;
    color: white;
    padding: 0.5px;
    border-width: 2px;
    border-radius: 4px;
    border-color: white;
}
#enter-password-button:hover {
    background-color:#003358;
    transition: 0.5s;
}

.itemCard {
    width: 14vw;
    height: 14vw;
    border-radius: 9px;
    background-image: url("./img/shorthair.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 2.8vw;
}

.itemCard:hover .itemCardBackgroundColor{
    opacity: 0.83;
    transition: 0.3s ease;
}
.itemCard:hover .itemCardDetails {
    opacity: 1;
    transition: 0.3s ease;
}

.itemCardDetails {
    border-radius: 9px;
    font-size: 6px + 1.3vh;
    color: white;
    opacity: 0;
}

.itemCardBackgroundColor {
    width: 100%;
    height: 100%;
    background-color: #0F4179;
    opacity: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 9px;
}

.itemCardDetailsText {
    padding: 6px;
    margin-left: 1vw;
}

#allItemCards {
    display: flex;
    /* border: solid;
    border-color: red;
    border-width: 2px; */
    flex-wrap: wrap;
}

#newItemsPage {
    display: flex;
    /* border: solid;
    border-color: green;
    border-width: 2px; */
}

/* Phone only */
@media screen and (max-width: 480px) {
    .itemCardDetails {
       font-size: 10px;
    }

    .itemCardDetailsText {
        padding: 3px;
    }
    .itemCard {
        width: 37vw;
        height: 37vw;
        margin: 6.5vw;
    }

    
}