#home-page {
    width: 100%;
    height: 100vh;
}

#nav-bar {
    width: 100%;
    height: 12vh;
    background-color: #004270;
    top: 0;
    position: fixed;
    display: flex;
    align-items: center; 
    /* justify-content:  */
}

#appleby-logo-white {
    width: 6.5vw;
    height: auto;
}
#appleby-logo {
    vertical-align: auto;
}
#login {
    margin-left: 85vw;
}
#login-text {
    color: white;
}
#password-login {
    height: 4vh;
    width: 10vw;
    border-radius: 5px;
    padding: 3px;
    box-sizing: border-box;
}
#main {
    margin-top: 12vh;
}
#login-button {
    color: white;
    font-size: 22px;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
#pop-up-login {
    background-color: white;
    border-color: #0F4179;
    border-style: solid;
    /* border-top-style: none; */
    width: 90vw;
    max-width: 400px;
    height: 24vh;
    border-width: 2.3px;
    float: right;
    display: none;
    border-radius: 13px;
    margin-top: 2px;
    /* border-bottom-left-radius: 13px; */
    /* border-bottom-right-radius: 13px; */
}
#pop-up-title {
    font-size: 27px;
    color: #0F4179;
    margin: 2vh;
    font-weight: 600;
}
#pop-up-title-break {
    width: 100%;
    height: 1px;
    background-color: #0F4179;
    border-style: none;
}
#password-section {
    margin: 0px auto;
    width: 90%;
    /* border-style: solid; */
    border-color: green;
    border-width: 2px;

}
#password-title {
    color: #0F4179;
    font-size: 22px;
}
#enter-password {
    width: 70%;
    font-size: 17px;
    padding: 3.5 px;
    border-color: #0F4179;
    border-radius: 3.3px;
    border-width: 1.3px;
    margin-top: 5%;
}
#submit-password-button {
    background-color: #0F4179;
    width: 13vw;
    display: flex;
    color: white;
    border: 3px solid #0F4179;
    justify-content: center;
    align-items: center;
    padding: 8px;
    font-size: 19px;
    border-radius: 20px;
    margin: 0px auto;
    margin-top: 3vh;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
#submit-password-button:hover {
    background-color: white;
    color: #0F4179;
}
.itemCard {
    width: 14vw;
    height: 14vw;
    border-radius: 9px;
    background-color: yellow;
    border-width: 2px;
    border-color: black;
    border-style: solid;
}
.itemCardDetails {
    font-size: 17px;
}